:root {
  --branding-color: #cc97a7da;
  --secondary-color: #eee2e665;
  --heading-font-family: 'Poppins', sans-serif;
  --default-font-family: 'Roboto', sans-serif;
}

body{
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
  line-height: 2;
}

h3 {
  font-size: 48px;
  color: var(--branding-color);
}

h4 {
  font-size: 15px;
  opacity: 0.6;
}

p {
  font-size: 20px;
  text-align: center;
}

hr {
  margin: 4px;
  color: var(--branding-color);
}

p {
  font-size: 22px;
  font-family: var(--heading-font-family);
  color: #272142;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
  opacity: 0.5;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 0px;
}

.hero p {
font-size: 36px;
margin: 0;
color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.header {
  padding: 0px 0px 50px;
}

.header h1 {
  background: var(--branding-color);
  font-size: 64px;
  line-height: 120px;
  text-transform: lowercase;
  border-radius: 4px;
}

.content-section h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content-section p {
  text-align: start;
  font-weight: normal;
  font-family: var(--default-font-family);
}

.content-section img {
  border-radius: 20px;
  border: 4px double var(--secondary-color);
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.subtitle-section h2 {
  color: var(--branding-color);
}

.contact-section a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.contact-section a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.bg-light {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
} 

.btn-branding {
  transition: all 200ms ease;
}
.btn-branding:hover {
  opacity: 0.7;
  background-color: white;
  color: var(--branding-color);
  border: 4px double var(--branding-color);
}

.btn-projects {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.btn-projects {
  transition: all 200ms ease;
}
.btn-projects:hover {
  opacity: 0.7;
  background-color: var(--branding-color);
  color: white;
  border: 4px double white;
  transition: all 100ms ease-in-out;
}

.logo {
  max-width: 200px;
}

nav {
  padding: 20px 0 0;
  font-size: 18px;
}

nav ul {
  padding: 30px 15px 15px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  font-family: var(--default-font-family) !important;
  color: #4c4c4cc4;
  line-height: 34px;
  margin: 8px 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--branding-color);
}

nav li.active a {
  color: var(--branding-color);
  font-weight: bolder;
}

.nav-line {
  color: var(--branding-color);

}

@media (max-width: 1024px) {
  h1 {
    font-size: 60px;
   }
  h3{
    font-size: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
    h1 {
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 30px;
  }
  .about-section {
    text-align: center;
  }

  .technologies-section {
    padding: 0 20px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .container p {
    font-size: 26px;
    text-align: center;
  }
  .about-section p {
    font-size: 20px;
  }

  .header h1 {
    font-size: 48px;
  }
  .technologies-section {
    padding: 0 30px;
    font-size: 10px;
  }

  .logo {
    max-width: 100px;
  }

  nav {
    padding: 0 15px 0 6px;
  }

  nav ul {
  font-size: 10px;
  padding: 0;
  margin: 5px 0 0;
}

.header {
  padding: 0 6px;
}

}