:root {
  --branding-color: #cc97a7da;
  --secondary-color: #eee2e665;
  --heading-font-family: 'Poppins', sans-serif;
  --default-font-family: 'Roboto', sans-serif;
}

body{
  font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
  line-height: 2;
}

h3 {
  font-size: 48px;
  color: var(--branding-color);
}

h4 {
  font-size: 15px;
  opacity: 0.6;
}

h5 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

h6 {
  padding-top: 20px;
  opacity: 0.5;
  text-align: center;
}

hr {
  margin: 4px 0;
  color: var(--branding-color);
}

p {
  font-size: 20px;
  text-align: center;
  font-family: var(--heading-font-family);
  color: #272142;
}

a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

a:hover {
  color: var(--branding-color);
  opacity: 0.5;
}

nav {
  padding: 20px 60px 0;
  font-size: 18px;
}

nav ul {
  padding: 30px 15px 15px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  font-family: var(--default-font-family) !important;
  color: #4c4c4cc4;
  line-height: 34px;
  margin: 8px 0;
  text-transform: uppercase;
}

nav li.active a {
  color: var(--branding-color);
  font-weight: bolder;
}

span {
  font-style: italic;
  opacity: 0.5;
}

form {
  display: block;
  font-family: var(--default-font-family);
  margin: 30px 20px;
}

input, textarea {
  margin: 7px 0 40px;
}

footer {
  font-size: 24px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 15px;
  margin: 60px -12px 30px;
  text-align: center;
}

footer .social-links {
  margin: 18px;
}

footer .social-links a {
  padding: 10px 14px;
  margin: 0 20px;
  font-size: 20px;
  background-color: var(--branding-color);
  border-radius: 50%;
  color: white;
}

footer .social-links a:hover {
  color: var(--branding-color);
  background: white;
}

.logo {
  max-width: 200px;
}

.nav-line {
  color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
}

.hero p {
font-size: 15px;
font-weight: lighter;
padding: 10px;
}

.hero h2 {
  font-family: var(--default-font-family);
  line-height: 2;
  font-size: 24px;
  margin: 50px 0 50px;
}

.hero .heading {
  font-size: 30px;
  margin: 70px 0 20px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
} 

.btn-branding:hover {
  opacity: 0.7;
  background-color: white;
  color: var(--branding-color);
  border: 4px double var(--branding-color);
  transition: all 200ms ease;
}

.btn-projects {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.btn-projects:hover {
  opacity: 0.7;
  background-color: var(--branding-color);
  color: white;
  border: 4px double white;
  transition: all 200ms ease;
}

.header {
  padding: 120px 0px 20px;
  text-align: center;
}

.header h1 {
  background: var(--branding-color);
  font-size: 64px;
  line-height: 120px;
  text-transform: lowercase;
  border-radius: 4px;
}

.content-section, .subtitle-section {
  padding: 40px 0 0 7px;
}

.content-section h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  color: #272142;
}

.content-section p {
  text-align: start;
  font-weight: normal;
  font-family: var(--default-font-family);
  font-size: 18px;
}

.subtitle-section h2 {
  color: var(--branding-color);
}

.subtitle-section img {
  border: 5px solid white;
  max-width: 90%;
}

.button-section {
  margin-top: 30px;
}

.contact-section {
  margin-top: 180px;
  text-align: center;
}

.contact-section a {
  opacity: 0.5;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  
  nav {
    padding: 10px 24px 0;
  }

    h3{
    font-size: 30px;
  }

  .header {
    padding: 120px 0 0;
  }
    .header h1 {
    font-size: 45px;
    line-height: 1.75;
  }

  .hero h2 {
    font-size: 15px;
    margin: 0px;
    padding-bottom: 15px;
  }
  .hero .heading {
    font-size: 25px;
    margin: 15px 0 8px;
    padding: 5px 0 0;
  }  
  .hero .subtitle {
    padding: 15px 0 0;
    font-size: 18px;
  }
  .hero p {
    font-size: 15px;
    padding: 10px  20px 10px;
    margin: 0 0 -5px 0;
  }

  .content-section {
    padding: 15px 0;
    text-align: center;
  }

  .subtitle-section{
    padding: 20px 12px;
  }
  .subtitle-section h2 {
    margin: 30px !important;
  }
  .subtitle-section p {
    text-align: center;
  }
  .subtitle-section h4 {
    margin: -17px 0 20px !important;
  }
  .subtitle-section img {
    display: block;
    margin: 0 auto;
}
  .button-section {
    margin: 25px 0 5px;
  }

  .technologies-section {
    padding: 0 20px;
    font-size: 12px;
  }

  input, textarea {
  text-align: center;
}
  footer {
    margin-top: 15px; 
  }

}

@media (max-width: 576px) {
  .container p {
    font-size: 26px;
    text-align: center;
  }
  .about-section p {
    font-size: 20px;
  }

  .header h1 {
    font-size: 48px;
  }
  .technologies-section {
    padding: 0 30px;
    font-size: 10px;
  }

  .logo {
    max-width: 100px;
  }

  nav {
    padding: 0 6px;
  }

  nav ul {
  font-size: 10px;
  padding: 0;
  margin: 5px 0 0;
}

.header {
  padding: 53px 6px 10px;
}

br {
  display: none;
}

}